.env
.env.local
estructura_y_resumen.txt
app.log
backend/logs/
backend/logs/backend/
backend/logs/backend/app.log
# Entornos virtuales de Python
backend/backend_venv/
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/
__pycache__/
archivos/
backend/fotos/